header {
	width: 100%;
	height: 17.5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
}

.icon-logo {
	width: 17%;
	height: 100%;
	overflow: hidden;
	background: white;
	z-index: 0;
	display: flex;
	justify-content: center;
	align-items: center;

}



video {
	width: 55%;
	position: absolute;
	top: 0;
	left: -20%;
}

.header-right {
	width: 83%;
	height: 100%;
	top: 0%;
	left: 17%;
	display: flex;
	z-index: 1;
}


.hr-contacts {
	width: 85%;
	height: 100%;
	background: #98BD36;
}

.hr-srch {
	width: 15%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: rgb(18, 97, 18);
	background: rgb(212, 209, 209);
}
.hr-srch > svg {
 font-size: 30px;
}

@media screen and (max-width: 1542px) {
	.aparat {
		width: 100%;
	}

}

@media screen and (max-width: 756px) {
	.aparat {
		height: 80vh;
	}
} 

@media screen and (max-width: 648px) {
	.aparat {
		height: 80vh;
	}
} 

@media screen and (max-width: 395px) {
	.aparat {
		height: 50vh;
	}
} 