main {
	width: 100%;
	height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
}
.main-2>button {
	background-repeat: no-repeat;
	background-position: center;
	border: none;
}

.main-1>button {
	border: none;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 18%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 1rem;
	gap: 5px;
}

.main-1{
	width: 100%;
	height: 30%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.main-2{
	width: 100%;
	height: 70%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.main-2>button {
	width: 23%;
	height: 30%;
}

.main-1>button {
	width: 23%;
	height: 50%;
	border-radius: 5px;
}