* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
	transition: all .03s;
	font-size: large;
	/* border: 1px solid; */
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.zizi-pay {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	background-image: url(20230301_Bravo_YH_supermarket_at_Xingyang_Wuyue_Plaza.jpg);
	background-repeat: no-repeat;
	background-size:cover;
}

