footer {
	width: 100%;
	height: 15%;
	position: relative;
}

.all {
	width: 95.25%;
	height: 100%;
	background: #98BD36;
	clip-path: polygon(50% 0, 100% 0, 100% 35%, 100% 80%, 70% 81%, 64% 100%, 30% 100%, 24% 79%, 0 78%, 0 0);
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: white;
}

.term-id {
	position: absolute;
	right: 5%;
	bottom: 30%;
	color: white;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.term-id svg {
	font-size: 30px;
}